extends layout



block content 
    #content

    
        
        #Headlinebox
            p

        #aboutheadline
            h1 About Us

        #description
            p We are a team consisting of university students who are studying Game Development and Learning Technology. With this platform we hope to achieve an increase of motivation for young teenage students in school,  by giving the users a choice in the shape and form of their homework through agency as well as making it  more fun with the use of gamification. The platform comes with a separate site for teachers and students where the teachers can map out the homework for the students and the students can work on the assignments. 
        
        


        #boxes
            #personbox4
                #personinfo
                    img(src='/Headshots/Caroline.png' alt= 'Caroline' width='150' height='150')
                    #name
                    h1 Caroline
                br
                p 3th semester university student
                br
                p CarolineMail@mail.dk
                br
                p 40 ** ** **
            #personbox3
                #personinfo
                    img(src='/Headshots/Emil.png' alt= 'Emil' width='150' height='150')
                    #name
                    h1 Emil
                br
                p 3th semester university student
                br
                p EmilMail@mail.dk
                br
                p 30 ** ** **
            #personbox2
                #personinfo
                    img(src='/Headshots/Rasmus.png' alt= 'Rasmus' width='150' height='150')
                    #name
                    h1 Rasmus
                br
                p 3th semester university student
                br
                p RasmusMail@mail.dk
                p -
                p 20 ** ** **
            #personbox1
                #personinfo
                    img(src='/Headshots/Anthon.png' alt= 'Anthon' width='150' height='150')
                    #name
                    h1 Anthon
                br
                p 3th semester university student
                br
                p AnthonMail@mail.dk
                br
                p 10 ** ** **


    

           
         
          
