#header 
    #innerHeader
        #logo
            span #[a(href="http://localhost:3000") motedu.]
        #menu
            span #[a(href="parents") parents] • #[a(href="teachers") teachers] • #[a(href="about") about] • #[a(href="student_login") log-in]
