#header 
    #innerHeader
        #logo
            span #[a(href="http://localhost:3000") motedu.]
        #menu
            span #[a(href="http://google.com") parents] • #[a(href="http://google.com") teachers] • #[a(href="http://google.com") about] • #[a(href="student_login") log-in]
