extends layout


block content
    
    #content
        include worldmap_bg 
        #homelinedeco 
            p
        #homeLogInTeacher
            b teacher log-in
        #homeLogInStudent
            b log-in


    

        



    