extends layout


block content
    
    #content

    
       

        #homelinedeco 
            p

        #homeLogInTeacher
            b teacher log-in
    
        #homeLogInStudent
            b log-in


    

        



    