extends layout

block content

    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    #content

    

        #logotext
            p motedu.
        include worldmap_bg 

       
        #homePlayButton
            b #[a(href="game") play]

    
    

        



    