extends layout


block content

  //==================================== HEADER ==========================================
  #header 
    #innerHeader
      #logo
        span #[a(href="http://google.com") motedu.]
      #menu
        span #[a(href="http://google.com") parents] • #[a(href="http://google.com") teachers] • #[a(href="http://google.com") about] • #[a(href="http://google.com") log-in]
  


  //==================================== CONTENT ==========================================
  #content 



  //==================================== FOOTER ==========================================
  #footer 
    #innerFooter
      table 
        tr
          th company 
          th useful links
          th support 
          th privacy
        tr
          td #[a(href="http://google.com") about]
          td #[a(href="http://google.com") store]
          td #[a(href="http://google.com") contact us]
          td #[a(href="http://google.com") website privacy policy]
        tr
          td #[a(href="http://google.com") our approach]
          td #[a(href="http://google.com") gamification]
          td #[a(href="http://google.com") live chat]
          td #[a(href="http://google.com") product privacy policy]
        tr
          td #[a(href="http://google.com") parents]
          td #[a(href="http://google.com") costructivism]
          td #[a(href="http://google.com") apply for job]
          td #[a(href="http://localhost:3000/hello") terms of use]

      #footerLogo
        span #[a(href="http://google.com") motedu.]
       
    

  