doctype html
html
  head

    title= title
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    link(rel='shortcut icon' href='TemplateData/favicon.ico')
    link(rel='stylesheet' href='TemplateData/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    //=============== Fonts ===============
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap' rel='stylesheet')



  body
    include header 
    block content
    block scripts
    include footer 
