extends layout 

block content
    #content
        #div1
            h1  Elev Login 
            p Velkommen til login siden for eleven
            form
                label(for='ENavn') Elevens Navn 
                input#ENavn(type='text' navn='Enavn')
                br
                br
                label(for='Ekode') Elevens Kode 
                input#ENavn(type='text' navn='Enavn')
                br
                br
                input#submit(type='submit' value='Submit')


