extends layout 

block content
    #content
        #div1
            h1  Elev Login
            p Velkommen til login siden for eleven
            form
            labe(for='ENavn') Elevens Navn
                input#ENavn(type='text' navn='Enavn')
                br
                br
                labe(for='Ekode') Elevens Kode
                input#ENavn(type='text' navn='Enavn')
                br
                br
                input#input (type='submit' value='submit')

