extends layout
block scripts 



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
        $(document).ready(function(){


            

            $("#fName").click(function(){
                console.log("Clicked");
                var xfName = document.getElementById("divFN");
                    xfName.style.display = "block";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";
                    
                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";
                
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none";
            });

            $("#lName").click(function(){
                console.log("Clicked");
                var xlName = document.getElementById("divLN");
                    xlName.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";

                var xclassNum = document.getElementById("divclass");
                    xclassNum.style.display = "none";
                
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none";
            });

            $("#username").click(function(){
                console.log("Clicked");
                var xuName = document.getElementById("divUN");
                    xuName.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";
                
                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";
                
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none";
            });

            $("#email").click(function(){
                console.log("Clicked");
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";

                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";
                
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none";
            });

            $("#school").click(function(){
                console.log("Clicked");
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";  

                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none"; 

                
            });

            $("#classNum").click(function(){
                console.log("Clicked");
                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";

                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "none";
            });

            $("#password").click(function(){
                console.log("Clicked");
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";

                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";
            });

            $("#rePassword").click(function(){
                console.log("Clicked");
                var xpassword = document.getElementById("divPsw");
                    xpassword.style.display = "block";

                var xfName = document.getElementById("divFN");
                    xfName.style.display = "none";

                var xlName = document.getElementById("divLN");
                    xlName.style.display = "none";

                var xuName = document.getElementById("divUN");
                    xuName.style.display = "none";
                
                var xEmail = document.getElementById("divEMAIL");
                    xEmail.style.display = "none";
                
                var xSchool = document.getElementById("divSchool");
                    xSchool.style.display = "none";

                var xclassNum = document.getElementById("divClass");
                    xclassNum.style.display = "none";
            });


            


           
            


            $("#classNum").on('click', function(){
                var fname = $('#fName').val();
                var lname = $('#lName').val();
                var username = $('#username').val();
                var email = $('#email').val();
                var school = $('#school').val();
                var classNum = $('#classNum').val();
                var password = $('#password').val();
                var rePassword = $('#rePassword').val();
                
                var fNameBool = false;
                var lNameBool = false;
                var usernameBool = false;
                var emailBool = false;
                var schoolBool = false;
                var classNumBool = false;
                var passwordBool = false;

                

                
                
                    

                //check if string contains white space
                function hasWhitespace(s){
                    return s.indexOf(' ') >= 0;
                }

                function isValidEmail(s){
                    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(s);
                }


                //check forst name
                if(fname !== ''){
                    if(hasWhitespace(fname)){
                        $('#fNameERROR').empty().append("First name cannot contain white space");
                        fnameBool = false;
                    }
                    else if(!hasWhitespace(fname)){
                        $('#fNameERROR').empty();
                        fNameBool = true;
                    }
                }
                else if(fname === ''){
                    $('#fNameERROR').empty().append("First name cannot be empty");
                    fNameBool = false;
                }

                //check last name
                 if(lname !== ''){
                    if(hasWhitespace(lname)){
                        $('#lNameERROR').empty().append("Last name cannot contain white space");
                        lNameBool = false;
                    }
                    else if(!hasWhitespace(lname)){
                         $('#lNameERROR').empty();
                        lNameBool = true;
                    }
                }
                else if(lname === ''){
                    $('#lNameERROR').empty().append("Last name cannot be empty");
                    lNameBool = false;
                }

                //check username
                if(username !== ''){
                    if(hasWhitespace(username)){
                        $('#usernameERROR').empty().append("First name cannot contain white space");
                        usernameBool = false;
                    }
                    else if(!hasWhitespace(username)){
                        $('#usernameERROR').empty();
                        usernameBool = true;
                    }
                }
                else if(username === ''){
                    $('#usernameERROR').empty().append("Username cannot be empty");
                    usernameBool = false;
                }
                

                //check email
                 if(email !== ''){
                    if(!isValidEmail(email)){
                        $('#emailERROR').empty().append("Email is invalid");
                        emailBool = false ;
                    }
                    else if(isValidEmail(email)){
                        $('#emailERROR').empty();
                        emailBool = true;
                    }
                }
                else if(email === ''){
                    $('#emailERROR').empty().append("Email cannot be empty");
                    emailBool = false;
                }

                //check school
                if(school !== ''){
                    if(hasWhitespace(school)){
                        $('#schoolERROR').empty().append("School name cannot contain white space");
                        schoolBool = false;
                    }
                    else if(!hasWhitespace(school)){
                        $('#schoolERROR').empty();
                        schoolBool = true;
                    }
                }
                else if(school === ''){
                    $('#schoolERROR').empty().append("School name cannot be empty");
                    schoolBool = false;
                }

                //check classNum
                if(classNum != null){
                    classNumBool = true;
                }
                else{
                    classNumBool = false;
                }

                 //check school
                if(password !== ''){
                    if(hasWhitespace(password)){
                        $('#passwordERROR').empty().append("Password cannot contain white space");
                        passwordBool = false;
                    }
                    else if(!hasWhitespace(password)){
                        if(password == rePassword){
                            $('#passwordERROR').empty();
                            passwordBool = true;
                        }
                        else if(password != rePassword){
                            $('#passwordERROR').empty().append("Please reenter the same password");
                            passwordBool = false;
                        }
                    }
                }
                else if(school === ''){
                    $('#passwordERROR').empty().append("Password cannot be empty");
                    passwordBool = false;
                }
                console.log(fNameBool + " " + lNameBool + " " + usernameBool + " " + emailBool + " " + schoolBool + " " + classNumBool + " " + passwordBool);

                if(fNameBool && lNameBool && usernameBool && emailBool && schoolBool && classNumBool && passwordBool){
                    $.ajax({
                    type: "POST",
                       url: "/signin_student",
                        dataType: "text",
                        data: {
                            fname: fname,
                            lname: lname,
                            username: username,
                            email: email,
                            school: school,
                            classNum: classNum,
                            password: password,
                            rePassword: rePassword
                        }
                    }).done( function ( result  ) {
                        console.log( result );
                        if(result == 'success'){
                            window.location.href='game';
                        }
                        if(result == 'invalidUsername'){
                            $('#usernameERROR').empty().append("Invalid Username. Username already in use.");
                        }
                    });
                }
            });
            
        });

block content 
    #content
        include worldmap_bg

        #divHelp
            #divFN
                p First Name must be your real name.
            
            #divLN
                p Last Name must be your real name.
        
            #divUN
                p User Name must be your real name.

            #divEMAIL
                p Email must be your real Email.

            #divSchool
                p Enter your school's name.
        
            #divClass
                p Enter your grade here.

            #divPsw
                p keep it secret, keep it safe.
            

        #divH
            p A rescue team has been dispatched.

        #div2 
  
            h1 Sign-in
            br
            label(for='first_name') First Name
            br
            input#fName(type='text' name ='first_name')
            br
            div.error#fNameERROR
            br
            label(for='last_name') Last Name
            br
            input#lName(type='text' name ='last_name')
            br
            div.error#lNameERROR
            br
            label(for='username') Username
            br
            input#username(type='text' name ='username')
            br
            div.error#usernameERROR
            br
            label(for='email') Email
            br
            input#email(type='text' name ='email')
            br
            div.error#emailERROR
            br
            label(for='school') School
            br
            input#school(type='text' name ='school')
            br
            div.error#schoolERROR
            br
            label(for='classNum') Class
            br
            select#classNum(name='classNum')
                each val in ['0', '1' , '2' , '4', '5', '6', '7', '8', '9', '10']
                    option=val 
            br
            br
            label(for='password') Password
            br
            input#password(type='password' name ='password')
            br
            label(for='rePassword') Reenter password
            br
            input#rePassword(type='password' name ='rePassword')
            br
            div.error#passwordERROR
            br
            input#login(type='submit' value='Submit')
            br
            br
           
            
            
    

    
            
            
               
            

         
            

              