extends layout

block content
    #content
        include worldmap_bg

        #signinStudent
            b #[a(href="signin_student") Student sign-in]

        #signinTeacher
            b #[a(href="signin_teacher") Teacher sign-in]