* {
  margin: 0px;
}

body {
  font: 14px "Roboto", sans-serif;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}

/* ================== HEADER ================== */
#header {
  margin: 0px;
  background-color: #62ba5d;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
}

#innerHeader {
  margin: auto;
  background-color: inherit;
  width: 60%;
  height: inherit;
}

#logo span {
  font-family: "Roboto", sans-serif;
  font-size: 26pt;
  font-weight: bold;

  margin-top: 3px;
  color: #f7f7f7;

  width: 33%;
  float: left;
  height: inherit;
}

#menu span {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: normal;

  margin-top: 14px;
  text-align: right;
  float: right;

  color: #469242;
  width: 66%;
  height: inherit;
}

/* ================== CONTENT ================== */

#content {
  height: 900px;
  padding-top: 50px;
}
#content2 {
  padding-top: 50px;
  height: 100%;
}

/* ================== STUDENT LOGIN ================== */

#div1 {
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #62ba5d;

  z-index: 2;
}

#div1 input {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 2px;
  border: none;
  border-radius: 2px;
  margin-top: 3px;
}
#div1 h1 {
  color: #f7f7f7;
}

/* ================== MAP - BACKGROUND ================== */

#vignette {
  padding-top: inherit;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 850px;
  box-shadow: 0 0 500px rgba(255, 255, 255, 0.9) inset;
  z-index: 1;
}

#map video {
  object-fit: cover;
  float: right;
  width: 100%;
  height: 950px;
  position: absolute;

  z-index: -1;
}

/* ================== HOME ================== */

#homeLogInStudent {
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#homeLogInTeacher {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -57%);
  color: #696969;
  cursor: pointer;
  z-index: 2;
}

#homelinedeco {
  border-bottom: 1px solid #696969;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
  z-index: 2;
}

#logotext {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -32%);
  z-index: 3;
  color: black;
  font-weight: bold;
}
/* ================== GAME ================== */
#unity-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* ================== ABOUT ================== */
#description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 150px;
  text-align: center;
  float: right;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
}
#aboutheadline {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
}

#personbox1 {
  background-color: White;
  width: 150px;
  padding: 50px;
  margin: 20px;
  position: absolute;
  left: 7%;
  top: 65%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#personbox2 {
  background-color: White;
  width: 150px;
  padding: 50px;
  margin: 20px;

  position: absolute;
  left: 29%;
  top: 65%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#personbox3 {
  background-color: white;
  width: 150px;
  padding: 50px;
  margin: 20px;

  position: absolute;
  left: 51%;
  top: 65%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#personbox4 {
  background-color: white;
  width: 150px;
  padding: 50px;
  margin: 20px;

  position: absolute;
  left: 73%;
  top: 65%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#name {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-align: center;
}

#Headlinebox {
  width: 2000px;

  background-color: #d5f5e3;
  padding: 180px;

  z-index: 4;
}

/* ================== FOOTER ================== */

#footer {
  height: 150px;
  width: 100%;
  background-color: #62ba5d;
  bottom: 0;
  z-index: 10001;
}
#innerFooter {
  height: inherit;
  width: 60%;
  background-color: inherit;
  margin: auto;
}

#innerFooter table {
  background-color: inherit;
  width: 80%;
  border: 0;
  height: 80%;
  color: #f7f7f7;
  float: left;
}
#innerFooter table th {
  text-align: left;
  font-size: 16pt;
  width: 25%;
  height: 35px;
  padding-top: 10px;
}
#innerFooter table td {
  height: 25px;
}
#footerLogo span {
  font-family: "Roboto", sans-serif;
  font-size: 54pt;
  font-weight: bold;

  float: right;
  margin-top: 30px;
  text-align: right;
  color: #f7f7f7;
  width: 20%;
}
#footerLogo span a {
  padding-right: 15px;
}

/* ================== SIGN_IN ================== */

#div2 {
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #62ba5d;

  z-index: 2;
}
