* {
  margin: 0px;
}

body {
  font: 14px "Roboto", sans-serif;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}
/* ================== HEADER ================== */
#header {
  margin: 0px;
  background-color: #62ba5d;
  width: 100%;
  height: 50px;
  position: fixed;
}

#innerHeader {
  margin: auto;
  background-color: #62ba5d;
  width: 60%;
  height: inherit;
}

#logo span {
  font-family: "Roboto", sans-serif;
  font-size: 26pt;
  font-weight: bold;

  margin-top: 3px;
  color: #f7f7f7;

  width: 33%;
  float: left;
  height: inherit;
}

#menu span {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: normal;

  margin-top: 14px;
  text-align: right;
  float: right;

  color: #469242;
  width: 66%;
  height: inherit;
}

/* ================== CONTENT ================== */

#content {
  padding-top: 50px;
  height: 900px;
}

/* ================== FOOTER ================== */

#footer {
  height: 150px;
  width: 100%;
  background-color: #62ba5d;
  bottom: 0;
}
#innerFooter {
  height: inherit;
  width: 60%;
  background-color: inherit;
  margin: auto;
}

#innerFooter table {
  background-color: inherit;
  width: 80%;
  border: 0;
  height: 80%;
  color: #f7f7f7;
  float: left;
}
#innerFooter table th {
  text-align: left;
  font-size: 16pt;
  width: 25%;
  height: 35px;
  padding-top: 10px;
}
#innerFooter table td {
  height: 25px;
}
#footerLogo span {
  font-family: "Roboto", sans-serif;
  font-size: 54pt;
  font-weight: bold;

  float: right;
  margin-top: 30px;
  text-align: right;
  color: #f7f7f7;
  width: 20%;
}
#footerLogo span a {
  padding-right: 15px;
}
